/* =========================
   HILANGKAN BRANDING OJS
========================= */
.pkp_brand_footer {
    display: none !important;
}

.pkp_site_name img {
    display: none !important;
}

/* =========================
   HEADER CUSTOM
========================= */
.pkp_site_name_wrapper {
    background-image: url('https://rumahjurnal.bigtechnology.id/images/logo-header-ptk.png');
    background-size: cover; /* full background */
    background-position: center;
    background-repeat: no-repeat;
    
    height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

/* Overlay biar teks kebaca */
.pkp_site_name_wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4); /* gelap transparan */
}

/* =========================
   TEKS JUDUL JURNAL
========================= */
.pkp_site_name {
    position: relative;
    z-index: 2;
}

.pkp_site_name a {
    color: #ffffff !important;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.pkp_navigation_primary > li > a {
    font-weight: 500;
}

/* =========================
   RESPONSIVE (MOBILE)
========================= */
@media (max-width: 768px) {
    .pkp_site_name_wrapper {
        height: 140px;
        background-size: cover;
    }

    .pkp_site_name a {
        font-size: 20px;
    }
}